.hero {
  height: 90dvh;
  position: relative;
  padding: 30px;
  display: flex;
  align-items: center;

  .content {
    width: 70%;
    z-index: 100;

    @include media-breakpoint-down(md) {
      width: 80%;
    }

    @include media-breakpoint-down(sm) {
      width: 90%;
    }

    .title {
      position: relative;
      color: $color-primary;
      font-weight: 600;
      margin-bottom: 50px;
      font-size: 45px;

      @include media-breakpoint-down(sm) {
        font-size: 35px;
      }
    }

    .btn-primary {
      position: relative;
      background: $color-primary;
      padding: 10px 50px;
      font-weight: bold;
      font-size: 20px;
      border: 3px solid $color-primary;

      &:hover {
        background: transparent;
        border: 3px solid $color-primary;
        color: $color-primary;
      }
    }
  }

  .card-slider {
    overflow: hidden;
    border-top-left-radius: 50%;
    max-height: 400px;

    .glightbox {
      .image-container {
        position: absolute;
        height: 100%;
        top: 0px;
        right: -100px;
        z-index: 1;

        @include media-breakpoint-down(lg) {
          right: -150px;
        }

        @include media-breakpoint-down(md) {
          right: -200px;
        }

        @include media-breakpoint-down(sm) {
          right: -350px;
        }

        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);

        &:hover,
        &:focus {
          transform: scale(1.1) translateX(-20px);
        }
      }
    }
  }
}
