.navbar-container {
  position: sticky;
  background: transparent;
  z-index: 999;
  border-bottom: 1px solid #dedede;
  height: 10dvh;

  .navbar-toggler {
    border: 2px solid $color-primary;
    border-radius: 10px;

    &:active,
    &:focus {
      border: 2px solid $color-primary !important;
      box-shadow: none;
    }

    .navbar-toggler-icon {
      color: $color-secondary;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
      }
    }
  }

  .navbar-collapse {
    margin: 5px 0px;
    border-radius: 10px;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
    }

    @include media-breakpoint-down(md) {
      background-color: $color-background;
    }

    .nav-link {
      padding: 10px 5px;
    }

    li {
      margin: 0px 10px;
      border-radius: 5px;

      @include media-breakpoint-down(md) {
        background-color: $color-extra;

        &:first-of-type {
          margin-top: 10px;
        }

        &:last-of-type {
          margin-bottom: 10px;
        }

        &:hover {
          text-decoration: underline;
          color: $color-primary;
        }
      }

      a {
        color: $color-primary;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        position: relative;
        border-bottom: 2px solid transparent;

        @include media-breakpoint-up(md) {
          &:hover,
          &:active,
          &:focus {
            border-bottom: 2px solid $color-primary;
            animation: border-bottom 0.5s ease-in;
            color: $color-primary;
          }
        }

        &.active {
          font-weight: 600;
        }
      }
    }

    .btn-secondary {
      margin-right: 30px;
      background: $color-secondary;
      border: none;
      border-radius: 10px;
      transition: transform 0.5s ease, box-shadow 0.5s ease;

      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
        margin-right: 0px;
      }

      &:hover,
      &:active {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .bi-x::before {
    content: "\e888";
    color: red; /* Ubah warna silang sesuai kebutuhan */
  }

  .overflow-hidden {
    overflow-y: hidden;
  }
}
