.print {
  min-height: 100dvh;
  padding: 30px;

  .content {
    .title {
      color: $color-primary;
      font-weight: 600;
      margin: 30px auto;
      font-size: 45px;
      text-align: center;

      @include media-breakpoint-down(sm) {
        font-size: 25px;
      }
    }

    .btn-primary {
      background: $color-primary;
      padding: 10px 40px;
      margin: 40px 20px 0 20px;
      font-weight: bold;
      font-size: 16px;
      border: 3px solid $color-primary;

      @include media-breakpoint-down(sm) {
        padding: 10px 30px;
        margin: 40px 5px 0 5px;
      }

      &:hover {
        background: transparent;
        border: 3px solid $color-primary;
        color: $color-primary;
      }
    }

    .btn-secondary {
      font-weight: bold;
      padding: 10px 40px;
      margin: 40px 20px 0 20px;

      @include media-breakpoint-down(sm) {
        padding: 10px 30px;
        margin: 40px 5px 0 5px;
      }

      &:hover {
        background: #656565;
      }
    }

    .btn-proses,
    .btn-delete,
    .btn-detail {
      margin: 2px;
      font-size: 15px;
      color: $color-default;
      border: none;
      border-radius: 10px;
      transition: box-shadow 0.5s ease;

      &:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
      }
    }

    .btn-detail {
      background: $color-background;
    }

    .btn-delete {
      background: $color-secondary;
    }

    .btn-proses {
      background: $color-hover;
    }

    .aksi {
      text-align: center;
      vertical-align: middle;
    }

    .table-responsive {
      margin-top: 20px;
      display: block;
      width: 100%;
      overflow-x: auto;

      input {
        width: 400px;

        @include media-breakpoint-down(sm) {
          width: 200px;
        }
      }

      thead {
        th {
          text-align: center;
          vertical-align: middle;
        }
      }

      tbody {
        th,
        td {
          text-align: center;
          vertical-align: middle;
        }
      }
      .table {
        margin: 20px auto;
      }

      .results tr[visible="false"],
      .no-result {
        display: none;
      }

      .results tr[visible="true"] {
        display: table-row;
      }

      .counter {
        padding: 8px;
        color: #ccc;
      }
    }
  }
}
